.m-item {
  @field-padding-right: 10px;

  * {
    box-sizing: border-box;
  }

  .item-detail {
    position: relative;
    max-width: 345px;
    padding: 10px 7px 11px;
    background-color: #0F2222;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(~"100% + 4px");
      height: calc(~"100% + 4px");
      border: 1px solid #0F2222;
      box-sizing: border-box;
    }

    .u-title {
      font-weight: normal;
    }

    .u-desc {
      padding-right: @field-padding-right;
    }

    .u-title, .u-desc {
      margin: 0;
    }

    .u-orange {
      color: #FFA500;
    }

    .u-yellow {
      color: #FFFF00
    }

    .u-green {
      color: #00D24B;
    }

    .u-white {
      color: #FFFFFF;
    }

    .u-gray {
      color: #ADADAD;
    }

    .u-max-strength-level {
      .pr;
      color: #7EE3A3;

      span {
        .pa;
        top: 0;
        right: 3px;
      }
    }

    .m-attributes {
      .pr;
      padding-right: @field-padding-right;

      .u-orange {
        color: #FF9600;
      }

      .u-green {
        color: #00C848;
      }

      .u-speed {
        .pa;
        top: 0;
        right: 3px;
      }
    }

    .m-diamonds {
      margin: 0;
      padding: 0;
      list-style: none;

      .m-diamond {
        .u-square, .u-text {
          display: inline-block;
          vertical-align: middle;
        }

        .u-square {
          width: 1.1em;
          height: 1.1em;
          margin-right: 3px;
          border: 1px solid #999999;
        }

        .u-text {
          margin-top: -1px;
        }
      }
    }
  }
}