.m-item {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  text-align: center;

  a {
    display: block;
    padding: 10px 5px;
  }

  .u-name {
    margin: 0;

    &.white {
      font-weight: normal;
      text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666,0 -1px #666666;
    }
  }
}