.m-item-home {
    .m-qlinks {
        margin: 0;
        padding: 0;
        list-style: none;

        .qlink {
            display: inline-block;
            margin: 0 20px 0 0;

            a {
                display: block;
                padding: 8px 20px;
                background-color: #3a97eb;
                color: #ffffff;
                border-radius: 4px;
                transition: opacity 0.2s linear;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    @media screen and (max-width: @ipad) {
        .m-qlinks {
            .qlink {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .wiki-post-list {
        margin: -10px 0;
        list-style: none;
        overflow: hidden;

        .wiki-post {
            padding: 15px 10px;
            border-bottom: 1px solid #cccccc;
            font-size: 12px;
            overflow: hidden;

            &:last-child {
                border-bottom: none;
            }

            .u-icon {
                .dbi;
                .w(20px);
                border-radius: 3px;
                vertical-align: middle;
            }

            .u-type {
                .dbi;
                padding: 3px 5px;
                color: #ffffff;
                text-align: center;
                border-radius: 3px;
                vertical-align: middle;
            }

            .u-name {
                .dbi;
                .ml(8px);
                vertical-align: middle;

                // &:not([href]) {
                // color: #3d454d;
                // }
            }

            .m-wiki {
                .mt(5px);
            }

            .u-author,
            .u-updated,
            .u-wiki,
            .u-level,
            .u-remark {
                display: inline-block;
                .mr(25px);
                vertical-align: middle;
            }

            .u-author {
                .u-name {
                    color: @color;
                }
            }

            .u-updated {
                .fr;
                .mr(0);
                opacity: 0.75;
            }

            .u-remark {
                margin: 5px 0;
            }

            .u-excerpt {
                .db;
                .mt(6px);
                color: #999;
                .lh(1.6);
                // opacity: .75;
            }
        }
    }

    .m-item-icon {
        margin: 1px;
    }
}

@media screen and (max-width: @ipad) {
    .m-item-home {
        .wiki-post-list {
            .wiki-post {
                width: 100%;
            }
        }
    }
}

.m-plan-list {
    @p: 3px;
    .u-plan {
        padding-top: @p;
        padding-bottom: @p;
        .pr;
        .pr(120px);
        .fz(13px);
        .u-type {
            .fz(12px);
            padding: 3px 5px;
            .r(2px);
            // color: #fff;
            // background-color: #7d7d7d;
            img{.size(20px);.db;}
            .dbi;.y;
        }
        // .u-type-1 {
        //     background-color: #ff7cb8;
        // }
        // .u-type-2 {
        //     background-color: #00d7df;
        // }
        // .u-type-3 {
        //     background-color: #ffe470;
        // }
    }
    .u-author {
        .pa;
        .rt(0,7px);
        img {
            .size(20px);
            .y;
            .mr(3px);
        }
        .fz(12px);
        a {
            color: #666;
            &:hover {
                color: @color-link;
            }
        }
    }
}
